/*min 769 laptop 
max 768 tablet -> navigation + grid3-> grid2
max max 600 mobile -> grid3 -> grid1*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
}
:root {
    --mainColor: #7CB908;
    --mainColor2: white;
    --mainColor3: #0A0D1D;
  }
/* --------------------------------------------------font section----------------------------------- */
@font-face {
    font-family: boldText;
    src: url(../fonts/Barlow-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: medText;
    src: url(../fonts/Barlow-Medium.ttf);
    font-style: normal;
    font-weight: medium;
}
@font-face {
    font-family: lightText;
    src: url(../fonts/Barlow-Light.ttf);
    font-style: normal;
    font-weight: light;
}
/* ------------------------------------------------------------------------text sizes ---------------------------------------------------- */

.title{
    font-size: 60px;
    line-height: 60px;
    font-family: boldText;
}
.sectionTitle{
    font-size: 48px;
    line-height: 48px;
    font-family: boldText;
}
.miniTitle{
    font-size: 32px;
    line-height: 32px;
    font-family: boldText;
}
.medText{
    font-size: 19px;
    line-height: 29px;
    font-family: medText;
}
.lightText{
    font-size: 16px;
    line-height: 24px;
    font-family: lightText;
}
@media(max-width:990px)
{
    .title{
        font-size: 50px;
        line-height: 50px;

    }
    .sectionTitle{
        font-size: 40px;
        line-height: 40px;

    }
    .miniTitle{
        font-size: 27px;
        line-height: 27px;


    }
    .medText{
        font-size: 16px;
        line-height: 24px;

    }
    .lightText{
        font-size: 14px;
        line-height: 20px;

    }

}
/* ------------------------------------------------------text colors ------------------------------------------ */
.mainColor{
    color:var(--mainColor);
}
.mainColor2{
    color: var(--mainColor2);
}
.mainColor3{
    color: var(--mainColor3);
}
/* --------------------------------------------------text align ----------------------------------------- */
.textCenter{
    text-align: center;
}
/* ------------------------------------------------------text decorations------------------------------- */
.textDecorationZero{
    text-decoration: none;
}
/* --------------------------------------------background colors ------------------------------------- */
.bgGrey{
    background-color: #F5F5F5;
}
.bgBlue{
    background-color: var(--mainColor3);
}
.bgGreen{
    background-color: var(--mainColor);
}
/* ---------------------------------------------------grid style--------------------------------------- */
.grid3{
    display: grid;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    grid-template-columns: 30% 30% 30%;
    column-gap: 3.33%;
    row-gap: 50px;
}
.grid3 > div{
    padding: 20px;
}
/* -------------------------------------------------------margin section----------------------------------- */
.mgAuto{
    margin: auto;
}
.mgTop-20{
    margin-top: 20px;
}
/* ------------------------------------------------padding section -------------------------------------- */
.pdTB10{
    padding: 10px 0px;
}
/* --------------------------------------------------header section----------------------------------- */
#header{
    width: 100%;
    position: relative;
    background-color: var(--mainColor3);
}
#headerCover{
    width: 100%;
    height: 100%;
    background-color: rgba(11,15,41,0.5);
    position: absolute;
    top: 0;
    left: 0;
}
.imageBackground{
    width: 100%;
}

#navbar{
    width: 90%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 5%;
}

#headerLogo{
    flex-basis: 30%;
}
#headerLinks{
    flex-basis: 70%;
}
#headerLinks a{
    transition: color 0.5s;
}
#headerLinks a:hover{
    color: var(--mainColor);
}
#headerLinks a.boxButton{
    background-color: var(--mainColor);
    padding: 10px 15px;
    transition: background-color 0.5s;
    border: 2px solid var(--mainColor);
}
#headerLinks a.boxButton:hover{
    background-color: transparent;
}
#navbar ul li{
    display: inline-block;
    width: 20%;
}
#headerContent{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
#headerContent h1,#headerContent h3,#headerContent p{
    width: 50%;
    margin: auto;
    padding-top: 10px;
}
/* ---------------------------------------------------------sections in general---------------------------------------- */
.section{
    width: 100%;
    padding: 35px 0px;
}
.section h1{
    text-align: center;
}
.oddSection{
    background-color: var(--mainColor2);
}
.oddSection .sectionTitle{
    color: var(--mainColor3);
}
.evenSection{
    background-color: var(--mainColor3);
}
.evenSection .sectionTitle{
    color: var(--mainColor);
}

/* -------------------------------------------------services Section ----------------------------------------------------- */
.serviceBox{
    transition: background-color 0.5s;
}
.serviceBox:hover{
    background-color: var(--mainColor);
}
.serviceBox:hover h1,.serviceBox:hover a{
    color: var(--mainColor3);
}
.serviceBox:hover p{
    color: var(--mainColor2);
}

/* ---------------------------------------- Team Section ------------------------------------------------------------ */

#teamMembers .wrapper{
    width: 90%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    column-gap: 5%;
}

#teamMembers .member{
   flex: 1 0 30%;
   position: relative;
   z-index: 9999;
   transition: 0.5s;
   transform: rotateX(-10deg) rotateY(-45deg);
}
#teamMembers .member.onView
{
    transform: scale(1.1);

}

.member img{
    width: 100%;
}
.memberDetails{
    background-color: var(--mainColor);
    text-align: center;
    padding: 10px 0px;
    position: absolute;
    width: 100%;
    top: 100%;
    transform: translateY(-100%);
}

/* --------------------------------------------------------Arrows section ------------------------------------------------- */
.arrowContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 15px;
    margin-top: 20px;
}
.leftArrow,.rightArrow{
    width: 50px;
    height: 50px;
    background-color: var(--mainColor);
    position: relative;
    cursor: pointer;
    transition: background-color 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftArrow:hover, .rightArrow:hover{
    background-color: var(--mainColor2);
}
.leftArrow:hover::after{
    border: solid var(--mainColor3);
    border-width: 0px 0px 3px 3px;

}
.rightArrow:hover::after{
    border: solid var(--mainColor3);
    border-width: 0px 3px 3px 0px;
    
}
.leftArrow::after{
    content: "";
    border: solid var(--mainColor2);
    border-width: 0px 0px 3px 3px;
    padding: 3px;
    transform: rotate(45deg) translateX(25%);
   
}
.rightArrow::after{
    content: "";
    border: solid var(--mainColor2);
    border-width: 0px 3px 3px 0px;
    padding: 3px;
    transform: rotate(-45deg) translateX(-25%);

   
}

/* ----------------------------------------------------goal section --------------------------------------- */
#goal{
    display: flex;
    align-items: center;
    position: relative;
}
.specialDiv{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: var(--mainColor);

}
.specialDiv::after{
    position: absolute;
    content: "";
    top: 100%;
    left: 0%;
    width: 50%;
    height: 100%;
    background-color: var(--mainColor2);
    transform: translateY(-20%) skew(0deg, 5deg);
}
.specialDiv::before{
    position: absolute;
    content: "";
    top: 100%;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: var(--mainColor2);
    transform: translateY(-20%) skew(0deg, -5deg);
}
.specialDiv .sectionTitle{
    padding-top: 40px;
}
#goal > div{
    flex-basis: 50%;
}
.goalDescription{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 25px;
}
.goalIcon{
    flex-basis: 15%;
}
.circleIcon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:  var(--mainColor);
}
/* ------------------------------------------------------------------slider section------------------------------------------- */
#sliderContainer{
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto;
    transform-style: preserve-3d;
    animation: rotate 21s linear infinite;
    margin-top: 50px;
}

@keyframes rotate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}

#sliderContainer span{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    left: 0;
    top: 0;
    transform: rotateY(calc(var(--i) * 90deg)) translateZ(150px);
}
#sliderContainer span img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    transition: 2s;
    /* background-color: var(--mainColor); */

}

#sliderContainer span:hover img{
    transform: translateY(-50px) scale(1.2);
}
/* -------------------------------------------------------contactUs-------------------------------------------------- */
#contactUs{
    margin-top: 20px;
}
/* --------------------------------------------------------------------form section--------------------------------- */
.formContainer{
    width: 90%;
    margin: auto;
    text-align: center;
}
.form-input-container{
    margin-top: 20px;
    width: 100%;
}
input.form-input, textarea.form-input{
    width: 100%;
    padding: 15px 10px;
    outline: none;
    border: 1px solid var(--mainColor3);
    font-family: lightText;
    border-radius: 20px;
    resize: none;
}
input.form-input:focus{
   border: 1px solid var(--mainColor);
}
button.form-input{
    cursor: pointer;
    width: 70%;
    font-family: boldText;
    outline: none;
    background-color: var(--mainColor);
    color: var(--mainColor3);
    padding: 15px 10px;
    border: none;
    border-radius: 20px;
    transition: background-color 0.5s;
}

button.form-input:hover{
  background-color: var(--mainColor2);
  color: var(--mainColor);

}
/* ----------------------------------------------plan section ----------------------------------------------------- */
/*  */